<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ff4361d5-0b5a-482a-b99c-72ea7c0279b4/resourceGroups/transactionmanagement-test_group/providers/Microsoft.Web/sites/transactionmanagement-test</ResourceId>
    <ResourceGroup>transactionmanagement-test_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://transactionmanagement-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dccee40c-db45-4c97-a8e9-ac0e26a3d623</ProjectGuid>
    <PublishUrl>https://transactionmanagement-test.scm.azurewebsites.net/</PublishUrl>
    <UserName>$transactionmanagement-test</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>