<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ff4361d5-0b5a-482a-b99c-72ea7c0279b4/resourceGroups/cont_registry/providers/Microsoft.ContainerRegistry/registries/TransactionManagement</ResourceId>
    <ResourceName>TransactionManagement</ResourceName>
    <ResourceGroup>cont_registry</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://transactionmanagement.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dccee40c-db45-4c97-a8e9-ac0e26a3d623</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>